@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu:wght@700&display=swap');
.card-container1{
    margin-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    
}
.card-container2{
    margin-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    
}
.img5{
    height: 180px;
    width: 220px;
    margin-right: 200px ;
    border: solid #7c00ff 10px
}
.text1,.text2,.text3{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
