@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu:wght@700&display=swap');
.container1{
    display: flex;
    background-color: #f000ff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.img1{
    height: 60px;
    width: 90px;
    margin-left: 10px;
}
.img2{
    height: 20px;
    width: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    position: relative;
    left: 40px;
}
.bar{
    width: 1100px;
    height: 30px;
    margin-top: 15px;
    position: relative;
    left: 60px;
    border: #f000ff;
    border-radius: 5px;
}
.btn1{
    width: 100px;
    height: 30px;
    margin-top: 15px;
    position: relative;
    left: 60px;
    background-color: #f000ff;
    border: none;
    font-family: 'Poppins', sans-serif;;
    color: #7c00ff;
    cursor: pointer;
}