@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu:wght@700&display=swap');
.footer{
    background-color: #7c00ff;
}
.t1,.t2,.t3,.t4{
    font-family: 'Poppins', sans-serif;
    color: #f000ff;
}
